@font-face {
    font-family: 'BlackFont';
    src: url('./Font/CircularSpotifyText-Bold.otf');
}

@font-face {
    font-family: 'LightFont';
    src: url('./Font/CircularSpotifyText-Light.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BlackFont';
}

:root {
    --bg-primary: #121212;
    --gray-color: #b3b3b3;
    --gray-bg: #242424;
}

body {
    background: black;
    color: white;
    overflow-y: hidden;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, .5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.7);
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    font-size: 20px;
    font-weight: 200;
}

ul {
    list-style: none;
}

button {
    background: transparent;
    outline: none;
    border: none;
}

.radius {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#loader {
    width: 100%;
    height: 100vh;
    background: #000000 url('./images/loader.gif') no-repeat center;
    background-size: 400px;
    user-select: none;
}

/* ------------------------------------------------------- */

.container {
    height: calc(100vh - 20px);
    padding: 10px;
}


.left {
    /* min-width: 280px; */
    width: 25vw;
    height: 100%;
    margin-right: 10px;
    /* padding: 10px; */
}

.home {
    width: 100%;
    height: 156px;
    background: var(--bg-primary);
    padding: 20px 24px;
    position: relative;
}

.home .logo img {
    width: 78px;
}

.home .fa-xmark {
    width: 32px;
    height: 32px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    place-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}

.home ul {
    padding: 12px 0;
}

.home ul li {
    display: flex;
    width: 14px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s;

    &:last-child {
        color: var(--gray-color);
    }

    &:last-child:hover {
        color: #ffffff;
    }
}

.home ul li a {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 18px;
}

.home ul li a span {
    margin-top: 5px;
}


/** ----------- Library --------- */

.library {
    height: calc(100% - 156px);
    margin-top: 8px;
    background: var(--bg-primary);
    position: relative;
    overflow: hidden;
}

.library header {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    position: sticky;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.library header a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--gray-color);
    transition: all 0.3s;

    &:hover {
        color: #ffffff;
    }
}

.library header a img {
    width: 24px;
    margin-bottom: 8px;
}

.library .body {
    width: 100%;
    height: calc(100% - 235px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s;

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 0;
        transition: all 0.3s;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, .3);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, .5);
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: rgba(255, 255, 255, .7);
    }
}

.library .body .inner-div {
    width: inherit; 
}
/* ------------- */

.library .body .inner-div .card {
    margin: 8px;
    padding: 16px 20px;
    background: #242424;
}

.library .body .inner-div .card h2 {
    font-size: 16px;
    font-weight: 700;
}

.library .body .inner-div .card p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 20px;
}

.library .body .inner-div .card button {
    width: 120px;
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
    border-radius: 9999px;
    border: 1px solid var(--gray-color);
    background: #ffffff;
    cursor: pointer;
}
/* ------------- */

.library .body .inner-div .song-list ul {
    padding: 10px 20px;
}

.library .body .inner-div .song-list ul li {
    padding: 5px;
    font-size: 15px;
    font-family: 'LightFont';
    display: flex;
    align-items: center;
    cursor: pointer;
}

.song-list ul li .info {
    margin-left: 9px;
    font-family: 'LightFont';
}

.song-list ul li .info div:nth-child(2) {
    padding-top: 3px;
    font-family: 'LightFont';
    font-size: 12px;
    color: #999999;
}

.song-list ul li i.fa-circle-play {
    margin-left: auto;
    position: relative;
    &:hover {
        color: #aaaaaa;
    }
    &::after {
        content: 'Play now';
        width: 40px;
        padding: 3px;
        font-size: 9.5px;
        font-family: 'LightFont';
        color: #dddddd;
        background: #2c2c2c;
        display: grid;
        place-items: center;
        position: absolute;
        top: -20px;
        left: -12px;
        transition: all 0.3s;
        opacity: 0;
    }
    &:hover::after {
        opacity: 1;
    }
}





.library footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 24px;
}

.library footer ul.links {
    width: 232px;
    height: 80px;
    margin: 32px 0;
    font-size: 11px;
    font-weight: 100;
    color: var(--gray-color);
    display: flex;
    flex-wrap: wrap;
}

.library footer ul.links li a {
    margin-right: 16px;
    margin-bottom: 8px;
    font-family: 'LightFont';
}

.library footer button {
    width: 95px;
    height: 32px;
    font-size: 13px;
    color: #ffffff;
    border: 1px solid #727272;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.library footer button i {
    margin: 0 3px 4px;
    font-size: 13px;
}

/** ----------------- Right side ------------------- */

.right {
    width: 75vw;
    height: 95vh;
    overflow: hidden;
    position: relative;
}

.right header {
    padding: 16px;
    height: 64px;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right header .icons {
    display: flex;
}

.right header .icons i {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.right header .icons i.fa-bars {
    display: none;
}

.right header .buttons {
    /* width: 181px; */
    height: 48px;
    display: flex;
}

.right header .buttons button {
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        scale: 1.04;
    }
}

.right header .buttons .signup {
    padding: 8px 24px 8px 8px;
    color: #a7a7a7;
    cursor: pointer;

    &:hover {
        color: #ffffff;
    }
}

.right header .buttons .login {
    padding: 8px 30px;
    border-radius: 9999px;
    background: #ffffff;
}

/** --------------------- Playlists ------------------------ */

.spotify-playlist {
    height: calc(100vh - 64px);
    padding: 8px 16px;
    background: linear-gradient(#1f1f1f, #121212);
}

.spotify-playlist h2 {
    padding-bottom: 8px;
}

.spotify-playlist .scrollbar-container {
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s;
    /* background-color: beige; */
}

.spotify-playlist .scrollbar-container .card-container {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
}

.card-container .card {
    width: 216px;
    padding: 16px;
    margin: 0 24px 15px 0;
    background: linear-gradient(#181818, #1f1f1f);
    transition: all 0.3s;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: #282828;
    }
}

.card-container .card img {
    width: 184px;
    aspect-ratio: 1;
    padding-bottom: 16px;
    border-radius: 6px;
}

.card-container .card h3 {
    padding-bottom: 4px;
    font-size: 16px;
}

.card-container .card p {
    font-size: 13px;
    font-weight: 400;
    font-family: 'LightFont';
    color: #a7a7a7;
    text-wrap: wrap;
}

.card-container .card .play {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #000000;
    background: #1dcf5e;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    display: grid;
    place-items: center;
    position: absolute;
    top: 138px;
    right: 30px;
    visibility: hidden;
    opacity: 0;
    &:hover {
        scale: 1.04;
        background: #1FDF64;
    }
}

.card-container .card:hover .play {
    top: 118px;
    visibility: visible;
    opacity: 1;
}

/** ----------------- Playbar ---------------- */

.right .play-bar {
    width: 93.4%;
    padding: 10px 20px;
    background: rgb(44, 77, 52);
    position: absolute;
    top: calc(100% - 50px);
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-bar div:nth-child(3){
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right .play-bar .seek-bar {
    width: 97%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 1%;
    cursor: pointer;
}

.right .play-bar .seek-bar .played {
    width: 0%;
    height: 3.5px;
    background-color: #1FDF64;
    border: 0.2px solid black;
}

.right .play-bar .seek-bar .circle {
    width: 14px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #1FDF64;
    border: 0.2px solid black;
    position: absolute;
    bottom: -7px;
    left: 0%;
    transition: left 0.5s;
}

.right .play-bar .song-info {
    width: 40%;
    font-family: 'LightFont';
}

.right .play-bar .song-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background: red; */
    cursor: pointer;
}

.right .play-bar .song-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right .play-bar .song-controls .song-time {
    font-family: 'LightFont';
}

.right .play-bar .song-controls .song-volume {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    /* flex-direction: column; */

    &::after {
        content: "";
    }
}

.right .play-bar .song-controls .song-volume i {
    font-size: 18px;
    cursor: pointer;
}

.right .play-bar .song-controls .song-volume .range {
    width: 39px;
    height: 164px;
    background-color: #101010;
    position: absolute;
    top: -75px;
    left: -10px;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.right .play-bar .song-controls .song-volume span {
    padding-top: 6px;
}


.right .play-bar .song-controls .song-volume input {
    rotate: 270deg;
    position: absolute;
    bottom: 70px;
    left: -45px;
    cursor: pointer;
    appearance: none;

    /* -webkit-appearance: none; */

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 5px;
        height: 20px;
        background-color: #ffffff;
        translate: 0 -30%;
        border-radius: 8px;
    }

    &::-webkit-slider-runnable-track {
        background-color: #2C4D34;
        height: 6px;
    }    
}





@media screen and (max-width: 768px) {
    .left {
        width: 350px;
        position: absolute;
        left: -130%;
        z-index: 9999;
        background-color: #000000;
        padding: 10px;
        transition: all 0.3s;
        box-shadow: 60px 20px 25px rgba(0, 0, 0, 0.5);
    }
    .right {
        width: 100vw;
    }
    .right header .icons i.fa-bars, .home .fa-xmark {
        display: grid;
        place-items: center;
        cursor: pointer;
    }
    .right .play-bar .song-info {
        width: 50%;
    }
    .play-bar div:nth-child(3){
        width: 45%;
    }
}


@media screen and (max-width: 450px) {

    .right header .buttons .login {
        padding: 1px 15px;
    }

    .card-container {
        justify-content: center;
    }

    .card-container .card {
        width: 238px;
        padding: 18px;
        margin-bottom: 15px;
    }

    .card-container .card img {
        width: 200px;
    }

    .card-container .card h3 {
        font-size: 20px;
    }

    .card-container .card p {
        font-size: 16px;
    }
    
    .card-container .card:hover .play {
        top: 158px;
        right: 35px; 
    }

    .card-container .card:hover .play {
        top: 128px; 
    }

    .right .play-bar {
        height: 68px;
        top: calc(100% - 75px);
        flex-direction: column;
        justify-content: space-between;
    }
    .right .play-bar .song-info {
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .play-bar div:nth-child(3){
        width: 100%;
        justify-content: space-evenly;
    }
}















